# Object files
*.o

# Libraries
*.a

# vscode
.vscode

# Executables
megaphone
phonebook
zombie
zombies
brain
unnecessaryViolence
sed
harl
harlFilter
fixed
claptrap
scavtrap
fragtrap
animals
bureaucrat
convert
serialize
base
whatever
iter
array
easyfind
span
mutantstack
btc
data.csv
